//Fonts
$primary-font: 'Fira Sans', 'Arial', sans-serif;

// colors
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-dark-base: #000;
$color-dark-2: #173a56;
$color-dark-3: #544837;
$color-bright: #ff9900;
$color-text-alt: #567592;
$color-light: #bcd0e5;
$default-transition-settings: 0.3s ease;
